Package: odroid-wiringpi
Version: 2.44-5.1
Section: libraries
Priority: optional
Architecture: arm64
Depends: libc6
Maintainer: Yang Deokgyu <secugyu@gmail.com>
Description: The wiringPi libraries, headers and gpio command
  Libraries to allow GPIO access on a ODROID from C and C++
  and BASIC programs as well as from the command-line
