Source: odroid-wiringpi
Section: electronics
Priority: optional
Maintainer: Deokgyu Yang <secugyu@gmail.com>
Standards-Version: 3.8.0
Homepage: https://wiki.odroid.com
Build-Depends: debhelper (>= 10)

Package: libwiringpi2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GPIO libraries for ODROID (runtime).
 Runtime for the popular wiringPi library.

Package: odroid-wiringpi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwiringpi2 (= ${binary:Version})
Description: gpio utility for ODROID
 The wiringPi gpio command line utility, for GPIO access on a
 ODROID from the command line.

Package: libwiringpi-dev
Architecture: any
Depends: libc6-dev, ${misc:Depends}, libwiringpi2 (= ${binary:Version}), odroid-wiringpi (= ${binary:Version}),
Description: GPIO development library for ODROID
 Development libraries to allow GPIO access on a ODROID from C
 and C++ programs.
